@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 50px 50px 30px 50px;
    font-family: "Roboto Mono", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

a {
    color: rgb(10, 110, 200);
}

img {
    max-width: inherit;
    max-height: inherit;
}

/* HEADER */

header {
    margin-left: 100px;
    margin-right: 100px;
}

nav {
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav div {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
}

nav .link {
    padding-right: 30px;
    color: rgb(10, 110, 200);
    text-decoration: none;
}

nav .link:hover {
    text-decoration: underline;
}

nav span,
footer span {
    padding-left: 30px;
    color: white;
}

nav .darkmodetext {
    color: white;
}

.fa {
    font-size: 24px;
}

.fa:hover {
    color: rgb(10, 110, 200);
}

.socials {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
}

/******************** MAIN CONTENT ********************/

#opening {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 0px;
}

#memoji {
    width: 225px;
    margin-right: -35px;
}

#skillsection,
#worksection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills,
#works {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.singleskill,
.singlework {
    border: 2px solid lightgray;
    padding: 20px 25px;
    margin: 15px;
    border-radius: 15px;
}

.singlework {
    /*display: grid;
    grid-template-rows: 15% 35% 15% 25% 10%;
    align-items: center;
    height: 550px;*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
}

.singlework p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5px;
    margin-bottom: 15px;
}

.singlework span:hover {
    color: white;
}

.singlework div {
    max-width: 300px;
}

.singlework .desc {
    height: min-content;
    align-items: center;
    margin-bottom: 10px;
}

.singlework .titlelink {
    color: white;
    text-decoration: none;
}

.singlework .titlelink:hover {
    color: rgb(10, 110, 200);
    text-decoration: none;
}

#resumelink {
    text-decoration: none;
}

#resumelink:hover {
    text-decoration: underline;
}

/******************** FOOTER ********************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span {
    padding-left: 0px;
    padding-right: 30px;
}

footer .socials {
    margin-bottom: 20px;
}

footer .fa {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.05rem;
    }

    h6 {
        font-size: 0.75rem;
    }

    nav {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    nav div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
    }

    nav .link {
        padding: 0;
    }

    .socials {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }

    nav span,
    footer span {
        padding: 25px;
    }

    #opening {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 150px;
        margin-top: 70px;
    }

    #memoji {
        width: 200px;
        margin: -20px;
    }

    #openingtext {
        text-align: center;
    }

    #skillsection h2,
    #worksection h2 {
        text-align: center;
    }

    #resume h2 {
        text-align: center;
    }
}