/* TAGS */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 70px;
    font-family: "Roboto Mono", sans-serif;
}

h1 {
    font-size: 36pt;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

header {
    margin-left: 100px;
    margin-right: 100px;
}

/*p {
    text-align: justify;
    text-justify: inter-word;
}*/

a {
    color: rgb(10, 110, 200);
}

nav {
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav div {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
}

nav .link {
    padding-right: 30px;
    color: rgb(10, 110, 200);
}

span {
    padding-left: 30px;
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span {
    padding-left: 0px;
    padding-right: 30px;
}

footer .socials {
    margin-bottom: 20px;
}

footer .fa {
    font-size: 20px;
}

/* CLASSES */


.fa {
    font-size: 24px;
}

.fa:hover {
    color: rgb(10, 110, 200);
}

.socials {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
}

.singleskill {
    border:2px solid lightgray;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}


/* IDS */

#opening {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 0px;
}

#memoji {
    width: 200px;
}

#skillsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* COPIED */
